
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Market</a>
    <button (click)="toggleShow()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" [ngClass]="{'text-center': !isOpen}" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isUser" >
            <a class="nav-link" routerLink="/cart" routerLinkActive="active" >Cart</a>
        </li>
        <li class="nav-item" *ngIf="isUser" >
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="! isUser" >
            <a class="nav-link" routerLink="/login" routerLinkActive="active" >Log-In</a>
        </li>
        <li class="nav-item" *ngIf="! isUser" >
            <a class="nav-link" routerLink="/sign-up" routerLinkActive="active" >Sign-Up</a>
        </li>
        <!-- use conditional styling to style this button in small screen  -->
        <li class="nav-item" [ngClass]="{'goto-right': !isOpen}">     
            <button class="btn btn-danger logout" *ngIf="isUser" (click)="logout()">Log-Out</button> 
        </li>
        </ul>
    </div>
    </nav>
