<div class="container home">
    <div class="row">
        <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-2" *ngFor="let good of goods; index as i">
            <div class="card">
                <div class="price">{{good.price | currency}}</div>
                <img [src]="good.imgURL" class="card-img-top" alt="No Image Found">
                <div class="card-body text-center">
                  <h5 class="card-title">{{good.name | titlecase}}</h5>
                  <p class="card-text">{{good.desc | truncate:[50]}}</p>
                  <a (click)="addToCart(i)" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- 

HomeComponent.html:8 ERROR TypeError: Cannot read property 'length' of undefined
    at TruncatePipe.transform

 -->







