<div class="login text-center">
    <h3>Login To Your Account or 
        <a routerLink="/sign-up">Sign-Up</a>
    </h3>
    <form #f='ngForm' >
        <input ngModel name='email' #email="ngModel" type="email" class="form-control" placeholder="Type your Email" required email>
        <div *ngIf="email.errors?.required && email.touched" class="warning" >email is required</div>
        <div *ngIf="email.errors?.email && email.touched" class="warning"> This not email format</div>


        <input ngModel name='pass' #pass="ngModel" type="text" class="form-control" placeholder="Password" required>
        <div *ngIf="pass.errors?.required && pass.touched" class="warning"> Password is Required</div>

        <button [disabled]="f.invalid" class="btn btn-primary" >Submit</button>
    </form>
</div>
